Cython
transformers==4.43.1
nemo-toolkit==1.21.0
flask
flask_restful
sshtunnel_requests
wonderwords
tiktoken
tenacity
packaging==24.1
accelerate
huggingface_hub==0.23.2
html2text
sentencepiece
protobuf
nltk==3.8.1
hydra-core==1.3.2
inflect==7.3.0
jiwer==2.5.2
pyannote-core==5.0.0
pyannote-database==5.1.0
pyannote-metrics==3.2.1
pytorch-lightning==2.0.7
youtokentome
librosa
webdataset
editdistance
ipython
jieba
fuzzywuzzy
einops